body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

h3 {
    margin-bottom: 15px;
}

#valor-total, #lucro-mes {
    font-size: 1.5rem;
}

table {
    margin-top: 20px;
}

th, td {
    text-align: center;
}

button {
    margin-top: 10px;
}


